<head>
	<title>Party Planner!</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css"></head>
</head>
    <div class="header">
        <div class="navbar">
        <tr>
            <div class= "icon"><td><a href="Homepage.html"> <img src ="assets/Home.png" width="40%"></i> <br>HOME</a></td></div>
        
            <div class= "icon"><td><a href=""> <img src ="assets/Schedule.png" width="40%"></i> <br>SCHEDULE AN APPOINTMENT</a></td></div>
        
            <div class= "icon"><td><a href="about.html"> <img src ="assets/User.png" width="40%"></i> <br>ABOUT US</a></td></div>
        </tr>
        </div>
	  <h1>UPCOMING BOOKINGS</h1>
    </div>

<div class= "upcomingbook">
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Type of Event</th>
      <th>First and Last Name</th>
      <th>Date of Event</th>
      <th>Event Start Time</th>
      <th>Event Length (Hours)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.appType %></td>
        <td><%= booking.appClient %></td>
        <td><%= booking.appDate %></td>
        <td><%= booking.appTime %></td>
        <td><%= booking.appLength %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
</div>
