<p id="notice"><%= notice %></p>

<p>
  <strong>Apptype:</strong>
  <%= @booking.appType %>
</p>

<p>
  <strong>Appclient:</strong>
  <%= @booking.appClient %>
</p>

<p>
  <strong>Appdate:</strong>
  <%= @booking.appDate %>
</p>

<p>
  <strong>Apptime:</strong>
  <%= @booking.appTime %>
</p>

<p>
  <strong>Applength:</strong>
  <%= @booking.appLength %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
